<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Add new product</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>
<div class="container">
<h1 align="center">Add new product</h1>
<form action="/products/add" method="POST">
    <div class="form-group">
        <label for="inputName">name</label>
        <input type="text" class="form-control" id="inputName" required name="name">
        <label for="inputPrice">Price</label>
        <input type="number" class="form-control" id="inputPrice" value="0" name="price">
        <br>
        <input type="submit" class="btn btn-dark" value="Add">
    </div>
</form>
</div>
</body>
</html>