<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml">
<head>
    <meta charset="UTF-8"/>
    <title>Add user</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css" integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
</head>
<body>

<nav class="navbar navbar-expand-lg navbar-dark bg-primary">
    <a class="navbar-brand" href="/products">Online-Shop</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
        <div class="navbar-nav">
            <a class="nav-item nav-link active" href="/products/add">Add new product <span class="sr-only">(current)</span></a>
            <!--  <a class="nav-item nav-link" href="#">Features</a> -->

        </div>
        </form>
    </div>
</nav>

<div class="container">
<h1 align="center">Edit product</h1>
<form action="/products/edit/" method="POST">
    <div class="form-group">
        <input type="hidden" name="id" value="${product.id}"/>
        <label for="inputName">name</label>
        <input type="text" class="form-control" id="inputName" required name="name" value="${product.name}">
        <label for="inputPrice">Price</label>
        <input type="number" class="form-control" id="inputPrice" pattern="^\d+(?:\.\d{1,2})?$" step=".01" min="0" name="price" value="${product.price}">
        <br>
        <input type="submit" class="btn btn-primary" value="Submit">
    </div>
</form>
</div>
</body>
</html>